#capa1 {
	color: #f9f6c3;
	background-color: #78989c;
	border: thin solid #234e54;
}

span.color1, #capa1 a:hover { /* El color del span que marca el color será el mismo que cuando nos posicionamos encima */
	background-color: #f9ddc3;
}

#capa2 {
	background-color: #5a4074;
	color: #f9f6c3;
}

span.color2, #capa2:hover a {
	background-color: #9786a8;
}

#capa3 {
	background-color: #895f38;
}

span.color3, #capa3 #google:hover {
	background-color: #ceca85;
}

#capa4 {
	background-color: #376369;
}

span.color4, #capa4:hover #madrid {
	background-color: #f9f6c3;
}