/*PROPIEDADES GENERALES*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*PROPIEDADES CONCRETAS*/
/*AMBOS MENÚS*/
div[id^='menu']{
    display: flex;
    background-color: #363535;
    flex-direction: row;
    justify-content: space-between;
}
.titulo{
    color: white;
    margin-left: 0.938em;
}
div[class^='botonesrs']{
    margin-right: 0.938em;
    
}

/*MENÚ SUPERIOR*/
#menusup{
    width: 100%;
    max-width: 1000px;
    height: 8%;
    position: sticky;
    align-items: center;
    top: 0;
}
.index{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.index li{
    text-align: center;
    border: none;
}
.index li a{
    color: #8d8d8d;
    text-decoration: none;
    margin: 0.313em;
}
.index li a:hover{
    color: white;
}
.boton1f{
    color: #0075fa;
    border: 1px solid #0075fa;
    border-radius: 5px;
    padding: 0.438em;
    text-decoration: none;
    text-align: center; 
    font-size: 12px;  
}
.boton1t{
    color: #02c0ff;
    border: 1px solid #02c0ff;
    border-radius: 5px;
    padding: 0.438em;
    text-decoration: none;
    text-align: center;
    font-size: 0.75rem;
}

/*FORMULARIO*/
#cajaform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3.125em;
    line-height: 2.188em;
}
input{
    color: #686565;
    padding: 0.188em;
}

/*botones bajo el formulario*/
.botone,.botoncs{
    font-size: 0.75rem;
    color: #c03838;
    border: 1px solid #c03838;
    border-radius: 3px;
    padding: 0.313em;
    text-decoration: none;
    text-align: center; 
    align-items: center; 
}
a[class^='botont']{
    font-size: 0.75rem;
    color: white;
    border: 1px solid #0075fa;
    background-color: #0075fa;
    border-radius: 3px;
    padding: 0.313em;
    text-decoration: none;
    text-align: center; 
    align-items: center; 
}

/*TABLAS CON TAREAS*/
#tareascont{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: center;
    margin: 3.125em;
    line-height: 30px;
}
div[id^='columna']{
    text-align: center;
    margin: 0.625em;
}
.todo,.inprog,.done{
    border: 0.5px solid #a1a1a1;
    background-color: #e9e8e8;
    font-variant: small-caps;
    font-weight: bold;
}
.contenido{
    padding: 0.625em;
    border: 0.5px solid #a1a1a1;
}
div[id^='columna']>.contenido>div{
    padding: 0.625em;
    border: 0.5px solid #a1a1a1;
}

div.contenido div:first-child{
    background-color: #e9e8e8;
}
.tags{
    font-weight: bold;
}
.notes{
    color: #686565;
    background-color: #e9e8e8;
}

/*MENÚ INFERIOR*/
#menuinf{
    width: 100%;
    height: 60px;
    align-items: flex-end;
    justify-content: space-evenly;
}
.indexinf{
    color: white;
    text-decoration: none;
    margin-bottom: 0.938em;
}
.indexinf:hover{
    font-weight: bold;
}
.botonesrsinf{
    font-weight: bold;
    margin-bottom: 0.75em;
}
.boton2f{
    color: white;
    background-color: #0075fa;
    border: 1px solid #0075fa;
    border-radius: 5px;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;   
}
.boton2t{
    color: white;
    background-color: #02c0ff;
    border: 1px solid #02c0ff;
    border-radius: 5px;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
}

/* RESPONSIVE WEB DESIGN */
@media screen and (max-width: 1000px) {
    body {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

}

@media screen and (max-width: 800px) {
    div#menusup {
        width: 100%;
    }
    div#tareascont {
        flex-direction: column;
        align-items: center;
    }
    div#menuinf {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    div#menusup {
       width: 100%; 
       flex-direction: column;
        justify-content: space-around;
    }
    div#tareascont {
        flex-direction: column;
        align-items: center;
    }
    div#menuinf {
        flex-direction: column;
        justify-content: space-around;
    }
}